body {
    max-height: 100%;
    display:grid;
    grid-template-columns: 80px repeat(7, 1fr);
    grid-template-rows: 60px repeat(6, 1fr)
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}


.top-header {
    height: 60px;
    grid-row: 1;
    grid-column: 2/9;
    align-content: flex-end;
    background-color: #3578FA;
    display: flex;
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 26px;
    font-weight: 700;
    padding-right: 50px;
    padding-top: 20px;
    
    z-index: 1;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1/8;
    grid-column: 1;
    background-color: #7F7F7F;
    align-items: center;
    z-index: 100;
}

.container {
    height: 100%;
    grid-column: 2/9;
    grid-row: 2/9;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-left: 0px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    
    
    
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 12px;
    background-color: #7F7F7F;
    border: 0px;
    font-size: 14px;
    
}

.button:hover{
    color: #3578FA;
    border-radius: 3px;
    transition-duration: .3s;
}

.results {
    display: grid;
    justify-items: left;
    width: 100%;
    font-size: 25px;
    padding-top: 30px;
    font-family:sans-serif;
    font-weight: bold;
    grid-column: 1;
    grid-row:1;
    padding-left: 50px;
    
    
}

.box {
    height: 150px;
    text-align: left;
    background-color: #fff;
    color: #555;
    
}

.inputb {
    display: grid;
    justify-items: center;
    border-radius: 20px;
    border: .5px solid rgb(124, 124, 124);
    height: 30px;
    grid-column: 1;
}
#verify {
    display: grid;
    padding-right: 150px ;
    font-size: 16px;
    border: 0px;
    font-family: sans-serif;
    background-color: #fff;
    color: #7F7F7F;
    grid-column: 2;

    
}

#lookup {
    
    display: grid;
    padding-right: 150px ;
    font-size: 16px;
    border: 0px;
    font-family: sans-serif;
    background-color: #fff;
    color: #7F7F7F;
    grid-column: 2;
}

#contains {
    
    display: grid;
    padding-right: 150px ;
    font-size: 16px;
    border: 0px;
    font-family: sans-serif;
    background-color: #fff;
    color: #7F7F7F;
    grid-column: 2;
}

.results-verify {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 3;
    justify-items: center;
    width: 100%; 
    height: 100%;
    font-size: 12px;
    padding-top: 30px;
    font-family:sans-serif;
    font-weight: bold;
    grid-column: 2;
    grid-row:1;

}

.results-display {
    display: grid;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding-top: 30px;
    font-size: 25px;
    padding-top: 30px;
    font-family:sans-serif;
    font-weight: bold;
    background-color: #fff;
    color: #555;
    grid-column: 2;
    grid-row:3;

}